html, body { padding: 0; margin: 0; background: #111; overflow: hidden; }
#b { position: absolute; transform: scale(1.0) translate(0px, 0px); width: 500px; height: 500px; }
#b > svg { position: fixed; display: block; }
