html, body { padding: 0; margin: 0; background: #111; overflow: hidden; }
#b { position: absolute; transform: scale(1.0) translate(0px, 0px); border: 2px solid #0f8; width: 500px; height: 500px; }
.d { border: 2px solid #08f; position: fixed; width: 100px; height: 100px; display: block; }
