html, body { padding: 0; margin: 0; background: #333; color: #eee; overflow: hidden; font-family: Candara, sans-serif; font-size: 24pt; }
* { transition: opacity 1s; }
#b { position: absolute; transform: scale(1.0) translate(0px, 0px); width: 500px; height: 500px; }
#b > svg { position: fixed; display: block; }
#h { position: fixed; right: 0; bottom: 2rem; left: 0; text-align: center; opacity: 0; }
